* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

.logo {
    text-align: center;
    font-size: 2.5rem;
    background-color: #2b3a92;
    padding: 1.2rem 5%;
}

.nav-links {
    text-align: center;
    background-color: #2a3ca1;
    padding: 1rem 5%;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 1.5rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    text-align: center;
    padding: 7rem;
    background-color: #3e4db5;
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #ffd700;
    color: #5b5b5b;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


.features {
    display: flex;
    justify-content: space-around;
    padding: 6%;
}

.feature-box {
    text-align: center;
    width: 30%;
    background-color: #e4e8ec;
    padding: 2rem;
    border-radius: 8px;
}

.feature-box h3 {
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    color: #2b3a92;
}

.feature-box p {
    font-size: 1rem;
    color: #555;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #2b3a92;
    color: #ffffff;
    font-size: 0.9rem;
    position: sticky;
}
