#container {
    display: grid;
    grid-template-columns: 78vw 1fr;
    grid-template-areas: 
    "header header"
    "content sidebar"
    "content sidebar";
}

header {
    grid-area: header;
    background-color: #292929;
}

.header {
    display: flex;
    gap: 1130px;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
}

main {
    grid-area: content;
}

.cards {
    
    list-style: none;
}

.cards li {
    display: grid;
    grid
    width: 300px;
    border: 2px solid #000;
}

aside {
    grid-area: sidebar;
    background-color: #292929;
    width: 280px;
    border: 5px solid #000;
    margin-top: 10px;
    color: #fff;
}

.side-bar {
    padding: 10px;
}