@import 'variable';

@function pxTo Rem($px){
    $base: 16px;
    @return ()
}

p {
    font-size: $primary-font;
    font-family: $primary-fontfamily;
    color: $primary-color;
    background-color: orange;
    border: 2px solid black;
}